<div class= "w-full text-center">
  <div class= "pt-6 pb-6">
    <p class= "text-textcolor font-semibold text-5xl" >体重と靴のサイズを入力してください</p>
  </div>
    <%= form_with( url: diagnoses_path, method: :get, local: true) do |f| %>
      <div class= "pt-16 pb-16">
        <%= f.label "足のサイズ", class: "block text-textcolor font-semibold text-3xl"%>
        <%= f.text_field :leg_size, class: "border-textcolor border-4 rounded text-2xl", size: "40x20" %>
      </div>
      <div class= "pt-16 pb-16 ">
        <%= f.label "体重", class: "block text-textcolor font-semibold  text-3xl"%>
        <%= f.text_field :body_weight, class: "border-textcolor  rounded border-4 text-2xl", size: "40x20" %>
      </div>
        <%= f.submit "診断", class: "inline-block px-2 py-1 bg-buttoncolor text-textcolor font-semibold rounded hover:bg-yellow-500 text-5xl"%>
    <% end %>
  </div>
  <%= image_tag 'shoes_bowling.png', class: "float-right", width: "400"  %>
  <%= image_tag 'sport_bowling_ball.png', class: "float-left pt-6", width: "400"  %>
</div>
