<!DOCTYPE html>
<html>
  <head>
    <title>FirstTimeBowling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header class="w-ful bg-backcolor h-48" >
        <h1 class = "text-center text-9xl font-mono pt-6 text-textcolor">ボールと靴適正診断表</h1>
      </header>
    <main class="container mx-auto mt-28 px-5 flex bg-backcolor">
      <%= yield %>
    </main>
  </body>
</html>
