<!DOCTYPE html>
<html>
  <head>
    <title>これで迷わない！！ボーリングシューズ・ボール診断サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
        <div class="w-full bg-buttoncolor h-25 pb-3">
          <h1 class = "pt-3 pl-6 text-xl font-bold text-textcolor">これで迷わない！！ボーリングシューズ・ボール診断サイト</h1>
        </div>
      </header>
    <main class="mx-auto pt-10 w-full bg-contentcolor h-screen font-semibold ">
      <%= yield %>
    </main>
  </body>
</html>
